<?xml version="1.0" encoding="UTF-8"?> 
<java version="1.6.0_16" class="java.beans.XMLDecoder"> 
 <object class="czsem.utils.Config"> 
  <void property="alephPath"> 
   <string>c:\F\devel\Aleph\aleph.pl</string> 
  </void> 
  <void property="ilpProjestsPath"> 
   <string>c:\data\progs\fuzzyIlp/ILP_serial_projects</string> 
  </void> 
  <void property="myClassPath"> 
   <string>C:\F\devel\FuzzyILP_Classifier/FuzzyILP.jar</string> 
  </void> 
  <void property="prologPath"> 
   <string>c:\F\devel\Aleph\Yap\bin\yap.exe</string> 
  </void> 
  <void property="wekaJarPath"> 
   <string>c:\data\java\lib\weka3.5\weka.jar </string> 
  </void> 
 </object> 
</java> 
